@model OnlineShop.Entities.Category
@{
    ViewBag.Title = "Delete";
}

<h2>Delete Category</h2>

<div class="container">
    <form method="post">
        <div class="row">
            <div class="col-md-8">
                <input class="form-control" type="hidden" name="ID" value="@Model.ID" />
                <h5>Are you sure you want to delete this?</h5>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Yes Delete</button>
    </form>
    <a href="/Index">Cancel</a>
</div>

